@import './base.css';

@import 'bootstrap/dist/css/bootstrap.min.css';

#app {

  font-weight: bold;
}

a,
.green {
  text-decoration: none;
  color: transparent;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: transparent;
  }
}

@media (min-width: 1024px) {
  body {


  }

  #app {

  }
}
